@if (milestones().length > 0) {
  <div class="miles__grid">
    @for (m of milestones(); track m.label) {
      <div class="miles__card" [class.miles__card--locked]="!m.unlocked">
        <div class="miles__icon-wrap" [class.miles__icon-wrap--locked]="!m.unlocked">
          <span class="material-symbols-outlined miles__icon">{{ m.icon }}</span>
        </div>
        <div class="miles__text">
          <span class="miles__label">{{ m.label }}</span>
          <span class="miles__sublabel">{{ m.sublabel }}</span>
        </div>
      </div>
    }
  </div>
}
